<div class="w-full p-10">
  <div class="divider"></div> 
  <footer class="footer">
    <div class="aside">
      <p class="footer-title text-xl">by Manuel Schmidbauer</p>
    </div>
    <div class="nav justify-self-end">
      <div class="flex items-center gap-4 h-20 xl:h-16">
        <a href="https://www.getzola.org/" class="btn btn-outline text-2xl xl:text-lg h-full border-4 xl:border-2">
          made with zola
        </a>
        <a href="{{ config.extra.source_url }}" class="btn btn-primary btn-circle h-full w-fit aspect-square btn-outline border-4 xl:border-2 p-4 xl:p-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m6.75 7.5 3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0 0 21 18V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v12a2.25 2.25 0 0 0 2.25 2.25Z" />
          </svg>
        </a>
      </div>
    </div>
  </footer>
</div>
