<a href="{{ project.permalink }}" class="btn h-fit w-full flex justify-between items-start p-8">
  <div class="grow items-start flex flex-col space-y-4">
    <p class="text-3xl xl:text-xl">{{ project.description }}</p>
    <div class="flex gap-6 xl:gap-4 items-center">
      {% set name = project.taxonomies["technologies"][0] %}
      {% include "partials/technology_svg.html" %}
      <p class="text-7xl xl:text-5xl text-primary mb-4 xl:mb-2">{{ project.title }}</p>
    </div>
  </div>
  {% if project.extra.logo %}
  <div class="avatar flex-none">
    <div class="size-52 xl:size-32 rounded-xl ring ring-primary">
        <img src="{{ project.extra.logo }}">
    </div>
  </div>
  {% endif %}
</a>