<a href="{{ get_taxonomy_url(kind="technologies", name=name) }}" class="flex btn btn-outline btn-primary border-4 xl:border-2 h-full p-2">
  {% include "partials/technology_svg.html" %}
  <p class="text-4xl xl:text-xl mx-2">{{ name | upper }}</p>
</a>
