{% import "partials/technology_tag.html" as technology %}
      
{% extends "base.html" %}

{% block content %}

<div class="p-10 space-y-4">
  <p class="text-6xl text-primary pb-4">All tags</p>

  <div class="flex gap-4 flex-wrap">
    {% for term in terms %}
      <div class="h-20 xl:h-16">
        {% set name = term.name %}
        {% include "partials/technology_tag.html" %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}