{% extends "base.html" %}

{% block content %}

<div class="p-10 space-y-4">
  <p class="text-6xl text-primary pb-4"> Pages with {{ term.name }} </p>
  {% for project in term.pages %}
		{% include "partials/project_card.html" %}
  {% endfor %}
</div>

{% endblock content %}
