<!DOCTYPE html>
<html lang="en" data-theme="halloween">
	{% include "partials/head.html" ignore missing -%}
	<body class="h-full">
		<div class="flex flex-col min-h-screen">
			<div class="flex-none w-full h-24 xl:h-16">
				{% include "partials/nav.html" ignore missing -%}
			</div>
			<div id="main" class="flex-grow w-full xl:container mx-auto">
				<div class="overflow-y-auto">
					{% block custom %}{%- endblock -%}
					{% block content %}{%- endblock -%}
				</div>
			</div>
			<div class="flex-none w-full xl:container mx-auto">
				{% include "partials/footer.html" ignore missing -%}
			</div>
		</div>
	</body>
</html>
