
{% extends "base.html" %}

{% block content %}
<div class="hero h-full w-full bg-base-200 rounded-box">
  <div class="hero-content text-center my-3">
    {{ section.content | safe }}
  </div>
</div>
{% endblock content %}