{% extends "base.html" %}

{% block content %}
<div class="p-10 space-y-8 object-center">
  <div class="w-full space-y-4 xl:space-y-2">
    <div class="flex justify-between">
      <div class="grow space-y-8 xl:space-y-4">
        <p class="text-4xl">{{ page.description }}</p>
        <p class="text-8xl text-primary pb-8">{{ page.title }}</p>
      </div>
      {% if page.extra.logo %}
      <div class="avatar flex-none">
        <div class="size-52 xl:size-32 rounded-xl ring ring-primary">
            <img src="{{ page.extra.logo }}">
        </div>
      </div>
      {% endif %}
    </div>

    <div class="divider"></div> 

    <div class="flex flex-row flex-wrap gap-4 pt-4">
      {% for badge in page.extra.badges %}
        <img class="h-20 xl:h-14 w-auto border-4 xl:border-2 border-primary rounded-md" src="{{ badge }}" />
      {% endfor %}
      {% for name in page.taxonomies["technologies"] %}
        <div class="h-20 xl:h-14">
          {% include "partials/technology_tag.html" %}
        </div>
      {% endfor %}
      {% if page.extra.source %}
        <a href="{{page.extra.source}}" class="btn btn-outline btn-primary border-4 xl:border-2 size-20 xl:size-14">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-max">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
          </svg>
        </a>
      {% endif %}
      {% if page.extra.homepage %}
        <a href="{{page.extra.homepage}}" class="btn btn-outline btn-primary border-4 xl:border-2 size-20 xl:size-14">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-max">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
          </svg>
        </a>
      {% endif %}
      <button class="btn btn-outline btn-primary h-20 xl:h-14 w-auto text-2xl xl:text-base no-animation border-4 xl:border-2"> status: {{ page.extra.status }} </div>
    </div>

    <div class="divider"></div> 

    <article class="prose prose-2xl xl:prose-xl max-w-none">
      {% if page %}
        {{ page.content | safe }}
      {% endif %}
      {% if section %}
        {{ section.content | safe }}
      {% endif %}
    </article>
  </div>
</div>

{% endblock content %}
